{{#partial}}

<a class="animated fadeInUp" href="ensuccess">Go Back</a>
<div class="col-md-6">
    <h2><strong>Animals.</strong></h2>
    <table class="table-bordered">
        <th class="font"> Animal ID</th>
        <th class="font"> Ranger Name</th>
        <th class="font">Animal Name</th>
        <th class="font">Health.</th>
        <th class="font">Age</th>
        <th class="font">Location spotted</th

        {{#each tracks}}

        <tr>
            <td class="font2">{{id}}</td>
            <td class="font2" >{{rangername}}</td>
            <td class="font2">{{animalname}}</td>
            <td class="font2">{{health}}</td>
            <td class="font2">{{age}}</td>
            <td class="font2">{{location}}</td>


        </tr>
        {{/each}}
    </table>
</div>
        {{/partial}}

    {{>layout}}